@font-face 
{
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Bold.woff2') format('woff2'),
       url('./fonts/MavenPro-Bold.woff') format('woff'),
       url('./fonts/MavenPro-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Regular.woff2') format('woff2'),
       url('./fonts/MavenPro-Regular.woff') format('woff'),
       url('./fonts/MavenPro-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Black.woff2') format('woff2'),
       url('./fonts/MavenPro-Black.woff') format('woff'),
       url('./fonts/MavenPro-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face 
{
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Medium.woff2') format('woff2'),
       url('./fonts/MavenPro-Medium.woff') format('woff'),
       url('./fonts/MavenPro-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}


@supports not (-webkit-overflow-scrolling: touch) {
  /* CSS for other than iOS devices */ 
}

html, body
{
  width: 100%;

  height: 100%;
  margin: 0px;

  font-family: 'Maven Pro' !important;
  font-style: normal;
  background-color: #fff;

  overflow: show;
}

body
{
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

/*material-ui tweeks*/

/* hide up/down arrows ("spinners") on input fields marked type="number" */
input[type="date"]
{
  -moz-appearance:textfield;
}

input[type="date"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator
{
  color:rgba(204,204,204,0);
  background-color: transparent;
  -webkit-appearance: none;
}

/*remove Chrome x button from datepicerk*/
input[type="date"]::-webkit-clear-button { display: none; }
input[type="date"]::-ms-clear { display: none; }

::-webkit-search-cancel-button
{ display: none}


/*react date picker tweek*/
.react-datepicker-wrapper input[readonly]
{
  cursor: pointer;
}